body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* Ensure the body takes the full height of the viewport */
}

.container {
    display: flex;
    height: 100vh; /* Ensure the container takes the full height of the viewport */
}

.left-section {
    width: 450px;
    background-color:black;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

.left-section h1{
    align-items: center;
    color: #d83956;
    font-size: 22px
}

.left-section h2{
    color: #cbcbcb;
    align-items: center;
    font-size: 16px;
    padding-bottom: 10px;
}

.left-section p{
    justify-content: justify;
}
.left-section img {
    width: 60%; /* Adjust the width as needed */
    height: auto;
    margin-bottom: 20px; /* Add space below the image */
}

.right-section {
    margin-left: 450px;
    flex-grow: 1;
    overflow-y: auto;
    background-color: #ecf3f5;
    height: 100vh; /* Ensure the right section takes the full height of the viewport */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}


.right-section div {
    width: 100%; /* Set the width of sections to 70% */
    margin-bottom: 20px; /* Add space between sections */

    margin-left: auto; /* Center items within the right section */
    margin-right: auto; 
}

.experience{
    padding-top: 20px;
}

.experience, .education h2{
    padding-left: 20px;
    color: black;
    padding-bottom: 20px;
}
.position_container{
    padding-top: 20px;
    padding-left: 150px;
    padding-right:150px;
}


.position {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add space between positions */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;/* Padding inside the border */
    background-color: white; /* Background color for contrast */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adds a shadow effect */

}

.position img {
    width: 110px;                      
    height: 110px; /* Set the width and height of the image */
    align-items: center;
    margin-right: 20px; /* Add space between the image and the text */
}

.position .text {
    flex-grow: 1;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* EDUCATION */
.education {
    padding-bottom: 2em;
    position:relative;
}

.timeline_section{
    background-color: #24292d;
    min-height: 100vh;
    padding: 100px 15px;
}

.timeline{
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.timeline::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #2f363e;
    left: calc(50% - 1px)
}

.checkpoint{
    margin-bottom: 40px ;
    width: 100% !important;
    position: relative !important;
}

.checkpoint:last-child{
    margin-bottom:0;
}

.checkpoint:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.checkpoint:nth-child(even){
    padding-left: calc(50% + 30px);
}


.timeline-dot{
    height: 16px;
    width:16px !important;
    background-color: #eaa023;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top:10px;
}


.timeline-date{
    font-size: 18px;
    color: #eaa023;
    margin: 15px 0 0;
}

.checkpoint-content{
    background-color: #2f363e;
    padding: 30px;
    border-radius: 5px;
}

.checkpoint-content h3{
    color: #ffffff;
    font-size: 20px;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.checkpoint-content p{
    color: #c8c8c8;
    font-size: 16px;
    font-weight: 300;
    line-height:22px;
}


/* responsive */
@media(max-width: 767px){
    .timeline-items::before{
        left: 7px;
    }
    .timeline-items:nth-child(odd){
        padding-right: 0;
        text-align:left;
    }
    .timeline-items:nth-child(odd),
    .timeline-items:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left:0;
    }
}